PRIVATE_KEY=0x
SOMNIA_RPC_HTTP=https://api.infra.testnet.somnia.network/
SOMNIA_RPC_WS=wss://api.infra.testnet.somnia.network/ws
SOMTINEL_VAULT_ADDRESS=0x
SOMTINEL_RESPONDER_ADDRESS=0x
SOMTINEL_STREAM_PUBLISHER=0x
SAFE_DESTINATION=0x
VITE_SOMTINEL_VAULT_ADDRESS=0x
VITE_SOMTINEL_RESPONDER_ADDRESS=0x
VITE_SOMTINEL_STREAM_PUBLISHER=0x

